.birthday-container {
  border-radius: 3em;
  border: 1px solid rgb(8, 1, 24);
  padding: 1em;
  width: 80%;
  margin: 1em auto;
  align-content: center;
  align-items: center;
  .title
  {
    text-align: center;
    font-size: 1.5em;
    color: indigo;
    padding: 1em;

  }
}
