<table class="table">
  <tr>

    <td>Name</td>
    <td>Birthday</td>
    <td>Age Now</td>
    <td>15th Birthday</td>
    <td>Remaining</td>


  </tr>

  <tr>


    <td>Modi</td>
    <td>{{modiDOB | date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{modiAge}}</td>
    <td>{{modi15thBirthday| date: 'EEEE dd-MMM-yyyy'}}</td>
<td>{{modiRemaining}}</td>
  </tr>

  <tr>


    <td>Minna</td>
    <td>{{minnaDOB | date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{minnaAge}}</td>
    <td>{{minna15thBirthday| date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{minnaRemaining}}</td>
  </tr>

  <tr>


    <td>Noha</td>
    <td>{{nohaDOB | date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{nohaAge}}</td>
    <td>{{noha15thBirthday| date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{nohaRemaining}}</td>
  </tr>

  <tr>


    <td>Berry</td>
    <td>{{berryDOB | date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{berryAge}}</td>
    <td>{{berry15thBirthday| date: 'EEEE dd-MMM-yyyy'}}</td>
    <td>{{berryRemaining}}</td>
  </tr>
</table>